title {
    background-color: rgb(180, 119, 151);
    height: 4px ;
    padding: 2rem 2rem 2rem 2rem;
    margin: 0%;
    border: 1cm ;   
}
body {
    background-color: rgb(222, 185, 222);
}